.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.container h1{
    font-size: 50px;
}

.menu{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 40px;
}

.menu ul{
 text-decoration: none;
 list-style-type: none;
}

.menu a:hover{
    color: rgb(71, 36, 104);
    font-size: 20px;
    cursor: pointer;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}